<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
</head>
<body>
    <%- include('partials/nav.ejs') %>
    <div class="containerAlbumUnique">
        <a href="/albums"> &lt; Retour </a>
        <%= monAlbumVue.title %>
    </div>
</body>
</html>